@charset "utf-8";
// Contains all the CSS that handles the layout, such as the container and any grid systems.

body {
  font-family: $base-font-family;
  background-color: $background-color;
  border: 1px solid orange;
}

header {
  border: 1px solid orange;
  nav {
    float: right;
    position: relative;

    li {
      display: inline-block;
      padding: 0 .6em;
    }
  }
}

footer {
  border: 1px solid orange;
}